* {
    box-sizing: border-box;
}

img {
    width: 200px;
}

#fantasma {
    width: 100px;
}

[class^="div"] {
    display: flex;
    margin: 50px 0;
    background-color: aqua;
    align-items: center;
}

.div1, .div6, .div7, .div8 { justify-content: space-between; }
.div2                     { justify-content: space-around; }
.div3                     { justify-content: center; }
.div4                     { justify-content: flex-end; }

.div7, .div8 {
    flex-direction: column;
    height: 960px;
}

.div7 {
    align-items: flex-start;
}

.div8 {
    align-items: stretch;
}

.end {
    margin-left: auto;
}

.endWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    width: 960px;
}

.fundoAmarelo { background-color: yellow; }
.fundoRosa    { background-color: violet; margin: 0; }